<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oauth using node</title>
    <link rel="stylesheet" href="/style.css" type="text/css">
</head>

<body>
    <nav>
        <h1>GOOGLE OAUTH</h1>
    </nav>
    <main>
        <a href="/auth/google"><img src="/btn_google_signin_dark_pressed_web.png"></a>
    </main>
</body>

</html>